.block{
    display: flex;
    width: 80%;
    border: solid 1px;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px !important;
    height: fit-content;
}
.resume{
    float: left;
    width: 50%;
}
.payment{
    border-left: solid 1px;
    width: 50%;
}
.tot{
    font-size: large;
}